@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Changed to a light gray like LinkedIn bg */
  background-color: #F3F2EF; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}